# we don't want to put all our node dependencies under source control
node_modules
# this file might get auto-created on macOS and we don't need it.
.DS_Store
# Heroku will run an npm run build command to make its own optimized production build.
react-ui/build
# Just random notes to self
notes
# This will contain the keys and other secretive stuff
.env
# Local log
db.json